.Layout {}

/* .Title {
    font-family: 'Sigmar One', cursive;
    font-weight: bold;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    height: 100vh;
    animation: showup 4s ease-in-out;
}

@keyframes showup {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
} */