.order-summary_title {
    text-align: center;
    font-family: 'Sigmar One', cursive;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size: 1.5rem;
    border-radius: 6px 6px 0 0;
    width: 100%;
    padding: 8px 0;
    background-color: #ccc;
}

.order-summary_subtitle {
    text-align: center;
    margin: 0 auto;
    width: 70%;
    padding: 8px;
    font-family: inherit;
    border-bottom: 1px solid #ccc;
}

.order-summary_list {
    margin: 10px 0 10px 50px;
}

.order-summary_checkout {
    border-top: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
}

.order-summary_btn-container {
    text-align: center;
}